@model Cooking.Models.EntityModels.Recipe
@using Cooking.Models.ViewModels.Site
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                @if (string.IsNullOrEmpty(Model.ProfilImg))
                {
                    <img class="card-img-top" src="~/Images/NoImage.jpg" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="~/Images/Recipe/@Model.DirectoryCUID/@Model.ProfilImg" alt="Card image cap">
                }
            </div>
            <div>
                <span class="label label-primary">Region: @Model.Country</span>
                <span class="label label-primary">@Model.Type.Name</span>
            </div>
        </div>
            
        <div class="col-md-9">
            <div class="row">
                <h2>@Model.Title</h2>
            </div>
            <hr />
            <div class="row">@Model.Description</div>
            <hr />
            <div class="row">
                <div class="col-xs-2">
                    <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
                    <span>Serves: @Model.Serves </span>
                </div>
                
                <div class="col-xs-2">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <span>Cooks in: @string.Format("{0}:{1}", Model.CookingHour.ToString("00"), Model.CookingMinutes.ToString("00"))</span>
                </div>

                <div class="col-xs-2">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span>Autor: @Model.Author.UserName</span>
                </div>
                <div class="col-xs-2">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    @Html.ActionLink("Favorite","")
                </div>
            </div>
            <hr />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <h4>Products</h4>
            <ul class="list-group">
                @foreach (var item in Model.Products)
                {
                    <li class="list-group-item">
                        <span>@item.Name</span>
                        <span>@item.Quantity</span>
                        <span>@item.Measure</span>
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-9">
            <h4>Steps</h4>
            @foreach (var item in Model.Steps)
            {
                <hr />
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <a href="#" class="thumbnail">
                            @if (string.IsNullOrEmpty(item.Img))
                            {
                                <img src="~/Images/NoImage.jpg" alt="...">
                            }
                            else
                            {
                                <img src="~/Images/Recipe/@Model.DirectoryCUID/@item.Img" alt="...">
                            }
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <p>@item.Description</p>
                    </div>
                </div>
                <hr />
            }
        </div>
   </div>
    <hr />
    <div class="row">
        @foreach (var item in Model.Comments)
        {
            <hr>
            <h2>@item.Title</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Post by @item.Author.UserName, @item.DateCreated</h5>
            <h5><span class="label label-success">Lorem</span></h5>
            <br>
            <p>@item.Content</p>
            <hr>
        }
        @Html.Partial("_MakeCommentPartialView", new CommentPartialVM())
    </div>
</div>

