@{
    ViewBag.Title = "Home Page";
}
@model Cooking.Models.ViewModels.Site.IndexVM
@using Cooking.Models.ViewModels.Site

@foreach (var inner in Model.RecipesCollections)
{
    <div class="container">
        <div class="col-xs-12">
            <h3>@inner.Heading</h3>
            <a href="#">View more</a>
            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            @foreach (var rec in inner.First)
                            {
                                <li class="col-sm-3">
                                    <div class="fff">
                                        <div class="thumbnail">
                                            @if (string.IsNullOrEmpty(rec.ProfilImg))
                                            {
                                                <a href="/Recipe/@rec.Id/Viewer"><img src="~/Images/NoImage.jpg" alt=""></a>
                                            }
                                            else
                                            {
                                                <a href="/Recipe/@rec.Id/Viewer"><img src="~/Images/Recipe/@rec.DirectoryCUID/@rec.ProfilImg" style="width:320px;height:128px;" alt=""></a>
                                            }
                                            
                                        </div>
                                        <div class="caption">
                                            <h4>@rec.Title</h4>
                                            <p>@rec.Description</p>
                                            <a class="btn btn-mini" href="/Recipe/@rec.Id/Viewer">» Read More</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="item">
                        <ul class="thumbnails">
                            @foreach (var rec in inner.Second)
                            {
                                <li class="col-sm-3">
                                    <div class="fff">
                                        <div class="thumbnail">
                                            @if (string.IsNullOrEmpty(rec.ProfilImg))
                                            {
                                                <a href="/Recipe/@rec.Id/Viewer"><img src="~/Images/NoImage.jpg" alt=""></a>
                                            }
                                            else
                                            {
                                                <a href="/Recipe/@rec.Id/Viewer"><img src="~/Images/Recipe/@rec.DirectoryCUID/@rec.ProfilImg" style="width:320px;height:128px;" alt=""></a>
                                            }

                                        </div>
                                        <div class="caption">
                                            <h4>@rec.Title</h4>
                                            <p>@rec.Description</p>
                                            <a class="btn btn-mini" href="/Recipe/@rec.Id/Viewer">» Read More</a>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                 </div>
                 <nav>
                    <ul class="control-box pager">
                        <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                        <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
                    </ul>
                </nav>
                <!-- /.control-box -->
            </div><!-- /#myCarousel -->
        </div><!-- /.col-xs-12 -->
    </div><!-- /.container -->
}